@import 'var';
@import 'normalize.css';
@import './styles/reset.scss';
@import './styles/iconfont.scss';

* {
  margin: 0;
  box-sizing: border-box;
  overscroll-behavior-x: none;
}

#root {
  width: 100%;
  height: 100%;
  background-color: $default-background-color;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  height: 100%;
  background-color: $default-background-color;
  // font-size: 14px;
  width: 100%;
  min-width: 1200px;
  overflow: auto;
  font-size: 50px;
  color: $default-font-color;
  font-family: 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

  .el-main {
    overflow: auto;
    height: 100vh;
    padding: 0;
  }

  .el-message {
    font-size: 14px;
  }

  .el-tree-node.is-drop-inner {
    background: #409efe;
  }

  .el-color-predefine__color-selector {
    border: 1px dashed #ccc;
  }

  .el-dropdown-link {
    cursor: pointer;
    color: #409eff;
    font-size: 12px;
    font-weight: bold;
  }
  // 干扰这个组件拖拽
  .el-upload__text,
  .el-icon-upload {
    pointer-events: none;
    em {
      pointer-events: auto;
    }
  }
  .el-icon-arrow-down {
    font-size: 12px;
  }
}

.vdr {
  &.active {
    &::before {
      background-color: rgba(#409eff, 0.3);
      // z-index: 1;
    }
  }
}

.puzzle-tree {
  .el-tree-node__content {
    height: 40px;
  }
}
