@import '@/var.scss';

.puzzle-event {
  min-height: 100%;
  // background: #fff;
  padding: 20px 30px;

  .line {
    text-align: center;
  }

  .flex-right {
    display: flex;
    justify-content: flex-end;
  }

  &__query {
    margin-bottom: 20px;
  }

  &__list {
    .el-table {
      margin-bottom: 15px;
    }

    .el-pagination {
      text-align: right;
    }
  }

  .table-actions {
    > div,
    > button {
      margin-right: 6px;
      margin-left: 0;
    }
  }

  .btn-danger {
    color: $default-error-color;
  }
  .page-url {
    &__list {
      > div {
        display: flex;
        margin-bottom: 15px;

        .el-input {
          width: auto;
          flex: 1;
        }

        .el-tag {
          flex-shrink: 0;
          width: 90px;
          height: 40px;
          line-height: 40px;
          margin-right: 12px;
        }
      }
    }
  }

  // .expand-container {
  //   background: #d3d3d3;
  // }

  .expand-list {
    display: flex;
    color: #909399;
    font-weight: 500;

    &__item {
      margin-right: 15px;
    }
  }

  &__temp {
    position: relative;
    display: inline-block;
    line-height: 100%;

    &:hover {
      .puzzle-event__mask {
        opacity: 1;
      }
    }
  }

  &__mask {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .el-button {
      margin-left: 0;

      &:first-of-type {
        margin-bottom: 30px;
      }
    }
  }
}
